<div>
    <h2>Notification Templates</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="notification-template.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Notification Template
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Notification Template Id</span></th>
                    <th><span>Notification Template</span></th>
                    <th><span>Notification Channel</span></th>
                    <th><span>Notification Event</span></th>
                    <th><span>Notification Notifiee Type</span></th>
                    <th><span>Organization</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="notificationTemplate in vm.notificationTemplates track by notificationTemplate.id">
                    <td><a ui-sref="notification-template-detail({id:notificationTemplate.id})">{{notificationTemplate.id}}</a></td>
                    <td>{{notificationTemplate.notificationTemplateId}}</td>
                    <td>{{notificationTemplate.notificationTemplate}}</td>
                    <td>
                        <a ui-sref="notification-channel-detail({id:notificationTemplate.notificationChannel.id})">{{notificationTemplate.notificationChannel.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="notification-event-detail({id:notificationTemplate.notificationEvent.id})">{{notificationTemplate.notificationEvent.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="notification-notifiee-type-detail({id:notificationTemplate.notificationNotifieeType.id})">{{notificationTemplate.notificationNotifieeType.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="organization-detail({id:notificationTemplate.organization.id})">{{notificationTemplate.organization.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="notification-template-detail({id:notificationTemplate.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notification-template.edit({id:notificationTemplate.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notification-template.delete({id:notificationTemplate.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
