<div>
    <h2>Notification Event Reminders</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="notification-event-reminder.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Notification Event Reminder
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notificationEventReminderId"><span>Notification Event Reminder Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notificationEventReminderDateTime"><span>Notification Event Reminder Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notificationChannel.id"><span>Notification Channel</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notificationEvent.id"><span>Notification Event</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notificationNotifieeType.id"><span>Notification Notifiee Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="organization.id"><span>Organization</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="notificationEventReminder in vm.notificationEventReminders track by notificationEventReminder.id">
                    <td><a ui-sref="notification-event-reminder-detail({id:notificationEventReminder.id})">{{notificationEventReminder.id}}</a></td>
                    <td>{{notificationEventReminder.notificationEventReminderId}}</td>
                    <td>{{notificationEventReminder.notificationEventReminderDateTime}}</td>
                    <td>
                        <a ui-sref="notification-channel-detail({id:notificationEventReminder.notificationChannel.id})">{{notificationEventReminder.notificationChannel.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="notification-event-detail({id:notificationEventReminder.notificationEvent.id})">{{notificationEventReminder.notificationEvent.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="notification-notifiee-type-detail({id:notificationEventReminder.notificationNotifieeType.id})">{{notificationEventReminder.notificationNotifieeType.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="organization-detail({id:notificationEventReminder.organization.id})">{{notificationEventReminder.organization.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="notification-event-reminder-detail({id:notificationEventReminder.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notification-event-reminder.edit({id:notificationEventReminder.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notification-event-reminder.delete({id:notificationEventReminder.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
